@import  'libs/lib.less';
@import  'libs/var.less';
@import  'libs/smart-grid.less';
@import  'libs/sprite.less';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.reset();
a{
	text-decoration: none;
}

nav{
	li{
		list-style: none;
	}
}
.wrapper{
	.wrapper();
}

h1{
	.font-size(48);
	.md(font-size; 40px);
	.sm(font-size; 30px);
	.xs(font-size; 24px);	
}
h2{
	.font-size(36);
	.md(font-size; 30px);
	.sm(font-size; 24px);
	.xs(font-size; 20px);
}
h3{
	.font-size(30);
	.md(font-size; 24px);
	.xs(font-size; 20px);
}
h4{
	.font-size(24);
	.xs(font-size; 20px);
}
h5{
	.font-size(20);
	.xs(font-size; 18px);
}
h6{
	.font-size(18);
	.xs-block({
		font-size: 16px;
		font-weight: bold;
	});
}
p{
	font-size: 16px;
}

*{
	box-sizing: border-box;
}
body {
	color: #000;
	max-width: 1920px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font: 16px/1.5rem 'Open Sans', Arial, 'Times New Roman', Helvetica, sans-serif;
	img{
		max-width: 100%;
		height: auto;
	}
}

/* Atomic */

.d-n{
	display: none;
}


/* Для модального окна */
section.modal{
	background-color: rgba(0,0,0,.7);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5000;
}

.modal__main{
	position: relative;
	width: 500px;
	padding: 40px 5px;
	max-width: 90%;
	z-index: 5001;
	background-color: #fff;
}

i.fa.closer{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: @color_text;
	transition: color .5s;
	z-index: 5002;
	&:hover{
		color: @color_second;
	}
}

.modal__content{
	display: none;
	&.active{
		display: block;
	}
}

/* Основные стили */